{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
     <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                 <img class="rounded-circle account-img" src="{{ user.profile.profile_pic.url }}">
              </a>
              <h1>{{user.username}}</h1>
              <p>{{request.user.email}}</p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
              <li><a href="#"  data-toggle="modal" data-target=".bd-example-modal-md"> <i class="fa fa-edit"></i> Edit profile</a></li>
              <a class="btn btn-sm btn-outline-secondary mr-3"><strong>Edit Profile</strong></a>
          </ul>
         <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="m-5 sugg">
                        {% csrf_token%}
                        {{ user_form|crispy}}
                        {{ prof_form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Close
                        </button>
                    </form>
                </div>
            </div>
         </div>
      </div>

  </div>

  <div class="profile-info col-md-9">
      <div class="panel">

          <footer class="panel-footer">

              <ul class="nav nav-pills">
                  <li>
                      <a href="#"><i class="fa fa-map-marker"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fa fa-camera"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class=" fa fa-film"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fa fa-microphone"></i></a>
                  </li>
              </ul>
          </footer>
      </div>
      <div class="panel">
          <div class="bio-graph-heading">
              Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
          </div>
          <div class="panel-body bio-graph-info">
              <h1>Your Profile</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>Full Name </span>: {{user.profile.name}}</p>
                  </div>
                  <div class="bio-row">

                  </div>
                  <div class="bio-row">
                      <p><span>Citizenship </span>: {{user.profile.citizenship}}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Applications</span>:</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Inquiries </span>: </p>
                  </div>
                  <div class="bio-row">
                      <p><span>Email </span>: </p>
                  </div>
                  <div class="bio-row">
                      <p><span>Mobile </span>:</p>
                  </div>
                  <div class="bio-row">

                  </div>
              </div>
          </div>
          <form>
              <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
          </form>
      </div>
      <div>
          <div class="row">

          </div>
      </div>
  </div>
</div>
</div>
{% endblock content %}
{% block scripts%}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{%endblock%}